.idea/
.vscode/
.vim/

.venv/
venv/
__pycache__/
.coverage
.mypy_cache/
.pytest_cache/
.pytype/
*.pyc
.env
.local/


.DS_Store
.python-version
.ruff_cache
*.npy
script.py
http-client.private.env.json
requests.http
chat_messages.csv
circles.csv
reqeusts.http
tests/.env
